* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: calc(72px * 8);
  height: calc(72px * 8);
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black{
    background-color: rgb(208, 232, 239);
}
.white{
    background-color: #a8a6a2;
}
.cell img{
    width: 80%;
    height: 80%;
    position: relative;
}
.selected{
    border: 4px solid #304dad;
} 